# SPDX-FileCopyrightText: 2025 Phoenix R&D GmbH <hello@phnx.im>
#
# SPDX-License-Identifier: AGPL-3.0-or-later
controller:
  service:
    annotations:
      service.beta.kubernetes.io/upcloud-load-balancer-config: |
                {
                  "frontends": [
                    {
                      "name": "https",
                      "mode": "http",
                      "port": 443,
                      "default_backend": "https",
                      "networks": [
                        {
                          "name": "public-IPv4"
                        }
                      ],
                      "tls_configs": [
                        {
                          "name": "prod-air-ms-cert",
                          "certificate_bundle_uuid": "0ab632f5-8c8f-40f5-bc85-9881e9564a6d"
                        }
                      ],
                      "properties": {
                        "http2_enabled": true,
                        "timeout_client": 3600
                      }
                    },
                    {
                      "name": "grpc",
                      "mode": "http",
                      "port": 50051,
                      "default_backend": "https",
                      "networks": [
                        {
                          "name": "public-IPv4"
                        }
                      ],
                      "tls_configs": [
                        {
                          "name": "prod-air-ms-cert",
                          "certificate_bundle_uuid": "0ab632f5-8c8f-40f5-bc85-9881e9564a6d"
                        }
                      ],
                      "properties": {
                        "http2_enabled": true,
                        "timeout_client": 3600
                      }
                    }
                  ],
                  "backends": [
                    {
                      "name": "https",
                      "properties": {
                        "outbound_proxy_protocol": "v2",
                        "http2_enabled": true,
                        "tls_enabled": true,
                        "timeout_server": 3600
                      }
                    }
                  ]
                }
  config:
    use-forwarded-headers: "true"
    compute-full-forwarded-for: "true"
    use-proxy-protocol: "true"
    real-ip-header: "proxy_protocol"
