{# SPDX-FileCopyrightText: 2026 Phoenix R&D GmbH <hello@phnx.im>

SPDX-License-Identifier: AGPL-3.0-or-later
-#}
[Flatpak Ref]
Title={{ title }}
Name={{ app_id }}
Branch={{ branch }}
Url={{ repo_url }}
SuggestRemoteName=air
Homepage=https://air.ms
RuntimeRepo=https://dl.flathub.org/repo/flathub.flatpakrepo
IsRuntime=false
GPGKey={{ gpg_key }}
