# SPDX-FileCopyrightText: 2025 Phoenix R&D GmbH <hello@phnx.im>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

name: Build Windows app

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0

jobs:
  windows-build:
    runs-on: windows-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Set up Just
        uses: extractions/setup-just@v2

      - name: Set up Flutter FVM
        uses: kuhnroyal/flutter-fvm-config-action/setup@v3
        with:
          path: 'app/.fvmrc'
          cache: false

      - name: Set up Rust toolchain
        uses: dtolnay/rust-toolchain@1.90.0

      - uses: Swatinem/rust-cache@v2
        with:
          cache-directories: app/build/windows/x64/plugins/airapplogic/cargokit_build


      - name: Set up NASM
        uses: ilammy/setup-nasm@v1

      - name: Set up Perl
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: "5"

      - name: Export PERL env var for OpenSSL
        shell: pwsh
        run: |
          $perl = (Get-Command perl).Source
          echo "PERL=$perl" >> $env:GITHUB_ENV
          perl -v
          nasm -v

      - name: Build Windows app
        run: just build-windows

      - name: Upload Windows app
        uses: actions/upload-artifact@v4
        with:
          name: windows-app-x64
          path: app/build/windows/x64/runner/Release
